{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 bio-text">
            <h2>Who we are...</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi ut blanditiis nostrum doloribus
                suscipit deleniti sunt adipisci, illo tempora non perferendis accusantium delectus iste optio dolores
                modi, nihil laborum!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, enim laborum! Architecto veritatis
                quibusdam error quisquam iste eligendi nam esse. Sunt, obcaecati officiis distinctio incidunt dolores
                tenetur perferendis fugiat eligendi.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, optio debitis! Dolorum amet corrupti
                quod, odio in incidunt voluptatem deleniti sapiente impedit sunt quis asperiores vitae maxime, iste esse
                autem.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae provident voluptatibus blanditiis
                veniam officia eveniet, quam unde nesciunt. Nobis, porro quidem! Tempora hic labore optio eveniet
                adipisci fuga vero necessitatibus.</p>
                
        </div>

        <div class="col-md-6 bio-text">
            <h3 class="text-center">Get A Quote!</h3>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <form method="POST" action="{% url 'contact' %}">

                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary">



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mainbg">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 section-pad text-white text-center">
          <h1>CALL US TODAY 004423232322323</h1>
        </div>
    </div>
</div>  
</section>
<section class="mainbg2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 section-pad2 text-white text-center">
              <h1>Office Hours: 9-5:30</h1>

            </div>
        </div>
    </div>  
    </section>
{% endblock %}