{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 bio-text">
            <div>
                <h2 class="card-text">Who we are...</h2>
                <p>Here at signature bathrooms, we are dedicated to delivering the very highest standard
                    of workmanship, to give you the bathroom of your dreams.
                    Whether its just tiling, plastering or renovating the whole space, we are commited to give you the most
                    affordable prices without
                    compromising on quality.</p>
            </div>
           
    </div>



        <div class="col-md-6 bio-text">
            <div>
                <h3 class="text-center card-text">Get A Quote!</h3>
            </div>
          
            <div class="card border border-black">
                <div class="card-body">
                    <form method="POST" action="{% url 'contact' %}">

                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                        </div>

                        <input type="submit" value="Submit" class="btn btn-primary">



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="container-fluid mainbg">
        <div class="row">
            <div class="col-12 section-pad">
                <h1 class="text-white text-center">CALL US TODAY 0851279324</h1>
            </div>
            
        </div>
    </div>


    <div class="container-fluid mainbg2">
        <div class="row">
            <div class="col-12 section-pad2">
                <h1 class="text-white text-center">Email:signaturebathroomsdublin@gmail.com</h1>

            </div>
        </div>
    </div>



{% endblock %}