{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">

        <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
                  <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Read Customer Reviews</h1>
              </div>
              <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
                  <li>
                    <img src="{% static 'img/female.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Installed a shower and bath in my house, fantastic work. Highly recommend these lads"</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Emily Jones</h5>
          
                  </li>
                  <li>
                    <img src="{% static 'img/male.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Booked them in at short notice as I kept getting let down by the first fella I booked. This company had a fella out to me the next day couldn't believe how quick it was and had my new shower sorted in no time"</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Tom Smith</h5>
                  </li>
                  <li>
                    <img src="{% static 'img/female.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Bathroom turned out lovely in the end, thank you so much Radwin, will be back to use you again!"</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Zoey Moore</h5>
                  </li>
                </ul>
              </div>
              <div class="carousel-item">
                <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
                  <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Read Customer Reviews</h1>
              </div>
              <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
                  <li>
                    <img src="{% static 'img/male.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Got a bathroom tiled and the work was amazing, went the extra mile for me as I needed it done for some relatives coming, no problems staying late to have it finished in time."</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Dale Williams</h5>
                  </li>
                  <li>
                    <img src="{% static 'img/male.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Tried to fit the new toilet and sink myself and I made an absolute mess of it (the wife wasn't happy). Rang the lads they arranged somebody to come out and not only did they do a brilliant job finishing the installation they also redone all the work I made a mess of to begin with. Thanks again."</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Evan James</h5>
                  </li>
                  <li>
                    <img src="{% static 'img/female.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Great experience start to finish, shower is working perfectly and the man who fitted it was very professional cant remember his name sorry"</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Yvonne Reilly</h5>
                  </li>
                </ul>
              </div>
              <div class="carousel-item">
                <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
                  <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg" contenteditable="false">Read Customer Reviews</h1>
              </div>
              <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
                  <li>
                    <img src="{% static 'img/female.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"I cannot recommend signature bathrooms enough.I had always wanted a walk in shower and when radwin came to the house he talked me through everything from start to finish.
                                                                            Lovely lad who kept the disruption minimal. Delighted with my new shower and will recomment to friends."</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Karen Parker</h5>
                  </li>
                  <li>
                    <img src="{% static 'img/male.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Don't normally leave reviews but this company I had to especially these days. The lads completely redone my bathroom, new tiling, new bath, toilet shower and sink. The lads were 
                                                                          very professional, unbelievable work and even let my youngest son "help out" so he thought he done the job with them. Can't thank you enough!"</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Brian Daniels</h5>
                  </li>
                  <li>
                    <img src="{% static 'img/male.png' %}" class="wpx-100 img-round mgb-20" title="" alt="" data-edit="false" data-editor="field" data-field="src[Image Path]; title[Image Title]; alt[Image Alternate Text]">
                    <p class="fs-110 font-cond-l" contenteditable="false">"Got a new hot tub installed. Hot tub working perfect, great job and I have them booked in to do my bathroom on my holiday home"</p>
                    <h5 class="font-cond mgb-5 fg-text-d fs-130" contenteditable="false">Jack Campbell</h5>
                  </li>
                </ul>
              </div>
            </div>
            <a class="carousel-control-prev" role="button" data-bs-target="#carouselExampleControls1"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="false"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" role="button" data-bs-target="#carouselExampleControls1"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
        
            </a>
          </div>
    
    </div>
  </div>
</div>
  
  



{% endblock %}