/* colours */

.mainbg {
  background-color: #427ed1; 
}

.mainbg2 {
  background-color: #2b2e32; 
}

.navbar-light .navbar-brand {
  color: #427ed1;
  }

/* home page */

.hero-image {
    background-image: url("../img/hero-image.jpg");
    height: 55vh;
    background-position: center;
    background-size: cover;
}

.signature-text {
    margin-top: 1.5em;
}
                        
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }


  
  @media (max-width: 991.98px) { 
    .main-text{
      font-size: 0.6em;
    }  
    
  
  }

.nav-letters {
  font-size: 2em;
  font-weight: 600;
}

/* work page */

.image-size {
  height: 15em;
  width: 15em;
}


/* contact page */

.section-pad {
  margin-top: 5em;
  margin-bottom: 5em;
}

.section-pad2 {
  margin-top: 5em;
  margin-bottom: 5.4em;
}

.bio-text {
  margin-top: 5em;
  margin-bottom: 5em;
}