/* colours */

.mainbg {
  background-color: #427ed1; 
}

.mainbg2 {
  background-color: #2b2e32; 
}

.navbar-light .navbar-brand {
  color: #427ed1;
  }

/* home page */

.hero-image {
    background-image: url("../img/hero-image.jpg");
    height: 55vh;
    background-position: center;
    background-size: cover;
}

.signature-text {
    margin-top: 1.5em;
}
                        
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
  }


  
  @media (max-width: 991.98px) { 
    .main-text{
      font-size: 0.6em;
    }  
    
  
  }

.nav-letters {
  font-size: 2em;
  font-weight: 600;
}

/* work page */

.image-size {
  height: 15em;
  width: 15em;
}


.car-hov:hover {  
  -webkit-box-shadow: 4px 4px 2.5px #7D9CB1;
          box-shadow: 4px 4px 2.5px #7D9CB1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}


/* contact page */

.section-pad {
  margin-top: 5em;
  margin-bottom: 5em;
}

.section-pad2 {
  margin-top: 5em;
  margin-bottom: 4.5em;
}

.bio-text {
  margin-top: 5em;
  margin-bottom: 5em;
}

.card-text {
  padding-bottom: 0.3em;
}


.form-control {
  margin: 1em 0;
}

.card-body {
  background-color: #f4f1f1!important;
}

/* review page */

.form-padding {

  padding-top: 2em;
  padding-bottom: 2em;
}

.form-padding2 {

  padding-top: 5em;
  padding-bottom: 4.5em;
}

.card-body2 {

  background-color: #427ed1!important; 
}

/* work page */

